{
    margin: 0;
    padding: 0;
}

body {
    background-color: #00000;
    text-align: center;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
}

#select {
  float: center;
  display: block;
  width: 100%;
  margin-left: 5%;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}


input[type="submit"],
button {
  width: 100px;
  height: 2.2em;
  cursor: pointer;
  border-radius: 8px;
}
input[type="submit"]: click;
button: click {
  background: #000;
  color: #fff;
}
#canvas {
  float: center;
  display: block;
  width: 110%;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: auto;
}

tr {
    height: 50px;
}

td {
    width: 50px;
}

input[type="number"] {
    width: 6em;
}
